body{
    text-align:center;
    margin:0;
    padding-top:800px;
}

.picture{
    border-radius:50%;
    width:300px;
    height:300px;
}

#welcome{
    position:absolute;
    bottom:0;
    background:linear-gradient(blue 0%, pink 100%) ;
    display:table;
    width:100%;
    height:100%;
    z-index:9;
}

h1{
    font-size:40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:300;

}

h2{
    font-size:30px;
    font-family:fantasy;
    font-weight:300;
}

#name{
    font-size:50;
    font-family: 'Inter', sans-serif;
    font-family: 'Italianno', cursive;
}

#bio{
    padding:50px;
    padding-top:200px;
    font-family: 'Inter', sans-serif;
font-family: 'Italianno', cursive;
font-family: 'Teko', sans-serif;

}

.line{
    width:100px;
    height:6px;
    background-color:black;
    margin:8px auto;
}

.welcome_div{
    display:table-cell;
    vertical-align:middle;
}

.menu{
    position:fixed;
    top:10px;
    right:30px;
    z-index:10;
    list-style:none;
    cursor:pointer;
}

.listitem{
    float:left;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:8px;
    padding-right:8px;
    font-size:18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#paragraph{
    max-width:400px;
    margin:8px auto;
}